{% extends "garage/index_garage.html" %}
{% load static%}

{% block style %}
<link rel="stylesheet" href="{% static 'css/add-rocket.css' %}">
<script src="{% static 'js/slider.js' %}"></script>
{% endblock %}

{% block content %}
<noscript>
    <div class="alert alert-error" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>It seems that you deactivated JavaScript in your browser. Thise site needs JavaScript to be loaded</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
</noscript>
<div class="div-form">
    <form action="{% url 'add-air-to-air' %}" method="post">
        {% csrf_token %}
        <div class="card rocket-card" style="width: 50rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <label for="id_name">Name of the missile:</label>
                    <br>
                    <input class="form-control" name="name" type="text" placeholder="Name" id="id_name"
                        aria-label="Name">
                </li>
                <li class="list-group-item">
                    <label for="id_max_speed">Maximum speed of the missile:</label>
                    <br>
                    <div class="form-group">
                        <input type="range" name="max_speed" min="0" max="12" value="0" step="0.25"
                            class="rocket-slider form-control-range" id="id_max_speed"
                            oninput="wertDesSlidersInElementSchreiben('output-speed', 'id_max_speed')">
                        <p>
                            Mach <output id="output-speed">0</output>
                        </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <label for="id_max_g">Maximum g resistance of the missile:</label>
                    <br>
                    <div class="form-group">
                        <input type="range" name="max_g" min="0" max="25" value="0" step="0.5"
                            class="rocket-slider form-control-range" id="id_max_g"
                            oninput="wertDesSlidersInElementSchreiben('output-max-g', 'id_max_g')">
                        <p>
                            <output id="output-max-g">0</output> g
                        </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <label for="id_min_g">Maximum negative g resistance of the missile:</label>
                    <br>
                    <div class="form-group">
                        <input type="range" name="min_g" min="0" max="25" value="0" step="0.5"
                            class="rocket-slider form-control-range" id="id_min_g"
                            oninput="wertDesSlidersInElementSchreiben('output-min-g', 'id_min_g')">
                        <p>
                            -<output id="output-min-g">0</output> g
                        </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <label for="id_max_back">Maxmium lock distance from back:</label>
                    <br>
                    <div class="form-group">
                        <input type="range" name="max_back" min="0" max="50" value="0" step="1"
                            class="rocket-slider form-control-range" id="id_max_back"
                            oninput="wertDesSlidersInElementSchreiben('output-max-back', 'id_max_back')">
                        <p>
                            <output id="output-max-back">0</output> km
                        </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <label for="id_max_side">Maxmium lock distance from side:</label>
                    <br>
                    <div class="form-group">
                        <input type="range" name="max_side" min="0" max="50" value="0" step="1"
                            class="rocket-slider form-control-range" id="id_max_side"
                            oninput="wertDesSlidersInElementSchreiben('output-max-side', 'id_max_side')">
                        <p>
                            <output id="output-max-side">0</output> km
                        </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <label for="id_max_front">Maxmium lock distance from front:</label>
                    <br>
                    <div class="form-group">
                        <input type="range" name="max_front" min="0" max="50" value="0" step="1"
                            class="rocket-slider form-control-range" id="id_max_front"
                            oninput="wertDesSlidersInElementSchreiben('output-max-front', 'id_max_front')">
                        <p>
                            <output id="output-max-front">0</output> km
                        </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <label for="id_radar">Automatic missile guiding system via radar:</label>
                    <br>
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="radar" type="checkbox" role="switch" id="id_radar">
                    </div>
                    <div id="radar-switch" class="form-text">Note: Some aircrafts may not be attached by a radar guided
                        missile
                    </div>
                </li>
                <li class="list-group-item">
                    <label for="id_ir">Automatic missile guiding system via IR:</label>
                    <br>
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="ir" type="checkbox" role="switch" id="id_ir">
                    </div>
                    <div id="it-switch" class="form-text">Note: IR guided missiles may be distracted by any kind of
                        heat sources
                    </div>
                </li>
            </ul>
            <div class="card-footer">
                <button type="submit" class="btn btn-outline-success">Add</button>
            </div>
        </div>


    </form>
</div>
{% endblock %}